.img {
    border-radius: 50%;
  }

Button :active {
  color: red;
}

#buttongroup{
  background-color: gray;
}

.navLink :active{
background-color: white;
}

#dot-icon{
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
  border-color: white;
}

#dropdown-menu{
  overflow:visible !important;
}

.adduser{
  font-family: 'Times New Roman', Times, serif;
  color: gray;
  width: 100%;
}

#adduser-button{
inline-size: 20%;
}

/* .left{
  width: 90%;
  float: left;
}

.right{
  width: 10%;
  float: right;
} */
.main-heading{
  font-family: 'Times New Roman', Times, serif;
  color: gray;
 
}

.column-heading{
  font-weight: bold;
  color:rgb(119, 119, 119);
}

.profile{
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.box{
margin-left: 5px;
margin-right: 10px;
width: 100%;
float:left;
border: 1px solid white;
height: auto;
padding: 4px;
border-radius: 4px;
display: block;
}

.edit-page-heading{
  font-size: 23px;
}

.edit-sub-heading{
  margin-left: 30px;
  margin-bottom: 20px;
}

.edit-sub-heading1{
  margin-left: 60px;
}